################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.csproj.FileListAbsolute.txt
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.RazorAssemblyInfo.cache
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.RazorAssemblyInfo.cs
/Seismic.UI/obj/Debug/net9.0/compressed/n9lp845heo-{0}-5ipweew5fc-5ipweew5fc.gz
/Seismic.UI/obj/Debug/net9.0/compressed/satfnsv3dj-{0}-5ipweew5fc-5ipweew5fc.gz
/Seismic.UI/obj/Debug/net9.0/ref/Seismic.UI.dll
/Seismic.UI/obj/Debug/net9.0/refint/Seismic.UI.dll
/Seismic.UI/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Seismic.UI/obj/Debug/net9.0/ApiEndpoints.json
/Seismic.UI/obj/Debug/net9.0/apphost.exe
/Seismic.UI/obj/Debug/net9.0/rbcswa.dswa.cache.json
/Seismic.UI/obj/Debug/net9.0/rjimswa.dswa.cache.json
/Seismic.UI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/Seismic.UI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/Seismic.UI/obj/Debug/net9.0/rpswa.dswa.cache.json
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.AssemblyInfo.cs
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.AssemblyInfoInputs.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.assets.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.csproj.CoreCompileInputs.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.csproj.FileListAbsolute.txt
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.dll
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.GeneratedMSBuildEditorConfig.editorconfig
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.genruntimeconfig.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.GlobalUsings.g.cs
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.MvcApplicationPartsAssemblyInfo.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.pdb
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.RazorAssemblyInfo.cache
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.RazorAssemblyInfo.cs
/Seismic.UI/obj/Debug/net9.0/Seismic.UI.sourcelink.json
/Seismic.UI/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Seismic.UI/obj/Debug/net9.0/staticwebassets.build.json
/Seismic.UI/obj/Debug/net9.0/staticwebassets.build.json.cache
/Seismic.UI/obj/Debug/net9.0/staticwebassets.development.json
/Seismic.UI/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/Seismic.UI/obj/Debug/net9.0/staticwebassets.removed.txt
/Seismic.UI/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/Seismic.UI/obj/Debug/net9.0/swae.build.ex.cache
/Seismic.UI/obj/project.assets.json
/Seismic.UI/obj/project.nuget.cache
/Seismic.UI/obj/Seismic.UI.csproj.nuget.dgspec.json
/Seismic.UI/obj/Seismic.UI.csproj.nuget.g.props
/Seismic.UI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Seismic.UI/obj/Debug/net8.0/rpswa.dswa.cache.json
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.AssemblyInfo.cs
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.AssemblyInfoInputs.cache
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.assets.cache
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.GeneratedMSBuildEditorConfig.editorconfig
/Seismic.UI/obj/Debug/net8.0/Seismic.UI.GlobalUsings.g.cs
/Seismic.UI/obj/Debug/net8.0/staticwebassets.removed.txt
/Seismic.UI/obj/Seismic.UI.csproj.nuget.g.targets
