@model (string Label, string Value)
<div class="col-md-3">
    <div class="card shadow-sm mb-4 h-100">
        <div class="card-header fw-semibold bg-light">@Model.Label</div>
        <div class="card-body"><span class="fs-4 fw-semibold">@Model.Value</span></div>
    </div>
</div>
